<div class="modal fade" id="crearPago" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">{{ title }} - Parque Central</h5>
                <button type="button" class="btn-close" (click)="onClose()" data-bs-dismiss="modal"></button>
            </div>
            <app-loading *ngIf="isLoading"></app-loading>
            <!-- Metodos de Pago -->
            <div class="col-12">
                <div class="card p-3" id="card-pay">
                    <label class="form-label">Seleccione el método de pago</label>
                    <!-- select metodo de pago -->
                    <select id="paymentMethod" class="form-control" (change)="onPaymentMethodChange($event)"
                        [(ngModel)]="selectedMethod">
                        <option value=" ">Selecciona un método de pago</option>
                        <option value="transferencia">Transferencia Bancaria</option>
                        <option value="efectivo">Efectivo</option>
                    </select>


                    <!-- Contenedor para el botón de transferencia-->
                    <div *ngIf="habilitacionFormTransferencia" class="mt-1 mb-1 ">
                        <form [formGroup]="formTransferencia" (ngSubmit)="sendFormTransfer()">
                            <!-- Tipo de Transferencia -->
                            <div class="mb-3 mt-2 col-12">
                                <label class="form-label">Tipo de Transferencia</label>
                                <select formControlName="metodo_pago" class="form-control"
                                    (change)="onChangePayment($event)" name="metodo_pago" id="metodo_pago">
                                    <option value=" ">Seleccione Tipo de Transferencia</option>
                                    <option [value]="metodo_pago._id" *ngFor="let metodo_pago of paymentMethods">
                                        {{metodo_pago.tipo}}
                                    </option>
                                </select>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body alert-warning " *ngIf="paymentSelected">
                                    <p>Entre a su Aplicación Bancaria y realice el pago con la siguiente
                                        información:</p>
                                    <p *ngIf="paymentSelected.bankName">Nombre del
                                        Banco:&nbsp;{{paymentSelected.bankName}}</p>
                                    <p *ngIf="paymentSelected.username">Cheque a nombre
                                        de:&nbsp;{{paymentSelected.username}}</p>
                                    <p *ngIf="paymentSelected.bankAccount">Número de
                                        Cuenta:&nbsp;{{paymentSelected.bankAccount}}</p>
                                    <!-- <p *ngIf="paymentSelected.phone">Número de
                                            Teléfono:&nbsp;{{paymentSelected.phone}}</p> -->
                                    <p *ngIf="paymentSelected.email">Email:&nbsp;{{paymentSelected.email}}</p>
                                    <p *ngIf="paymentSelected?.ciorif">CI o rif:&nbsp;{{paymentSelected.ciorif}}</p>
                                </div>
                            </div>
                            <!-- formularios Dólares -->
                            <div class="row" *ngIf="paymentSelected && paymentSelected.tipo === 'TRANSFERENCIA'">
                                <!-- nombre del banco -->
                                <div class="mb-3 col-xs-12 col-sm-6">
                                    <label for="bankName" class="form-label">Banco</label>
                                    <input type="text" formControlName="bankName" class="form-control" name="bankName"
                                        id="bankName">
                                </div>
                                <!-- monto -->
                                <div class="mb-3 col-xs-12 col-sm-6">
                                    <label for="amount" class="form-label">Monto</label>
                                    <!-- {{totalAmount |number:'1.2-2'| currency:tienda_moneda}} -->
                                    <input type="number" formControlName="amount" class="form-control" name="amount"
                                        id="amount">
                                </div>
                                <!-- numero de referencia -->
                                <div class="mb-3 col-xs-12 col-sm-6">
                                    <label for="referencia" class="form-label">Num. referencia</label>
                                    <input type="text" formControlName="referencia" class="form-control"
                                        name="referencia" id="referencia">
                                </div>
                                <!-- fecha de pago -->
                                <div class="mb-3">
                                    <label for="paymentday" class="form-label">Fecha de Pago</label>
                                    <input type="date" formControlName="paymentday" class="form-control"
                                        name="paymentday" id="paymentday">
                                </div>
                                <!-- botones -->
                                <div class="d-flex justify-content-center gap-2">
                                    <button type="submit" class="btn btn-primary">
                                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1"></span>
                                        Generar Pago
                                    </button>
                                </div>
                            </div>

                            <!-- formularios pagomovil -->

                            <div class="row" *ngIf="paymentSelected && paymentSelected?.tipo === 'PAGO_MOVIL'">

                                <!-- nombre del banco -->
                                <div class="mb-3 col-xs-12 col-sm-6">
                                    <label for="bankName" class="form-label">Banco</label>
                                    <input type="text" formControlName="bankName" class="form-control" name="bankName"
                                        id="bankName">
                                </div>
                                <!-- teléfono de la persona que hace la transferencia -->
                                <div class="mb-3 col-xs-12 col-sm-6">
                                    <label for="phone" class="form-label">Teléfono</label>
                                    <input type="number" formControlName="phone" class="form-control" name="phone"
                                        id="phone">
                                </div>
                                <!-- monto -->
                                <div class="mb-3 col-xs-12 col-sm-6">
                                    <label for="amount" class="form-label">Monto</label>
                                    <!-- {{totalAmount |number:'1.2-2'| currency:tienda_moneda}} -->
                                    <input type="number" formControlName="amount" class="form-control" name="amount"
                                        id="amount">
                                </div>
                                <!-- botones -->
                                <div class="d-flex justify-content-center gap-2">
                                    <button type="submit" class="btn btn-primary">
                                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1"></span>
                                        Generar Pago
                                    </button>
                                </div>
                            </div>

                            <!-- formularios zelle -->
                            <div *ngIf="paymentSelected && paymentSelected?.tipo === 'ZELLE'">
                                <div class="row">
                                    <!-- numero de referencia -->
                                    <div class="mb-3 col-xs-12 col-sm-6">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="text" formControlName="email" class="form-control" name="email"
                                            id="email">
                                    </div>
                                    <!-- nombre del banco -->
                                    <div class="mb-3 col-xs-12 col-sm-6">
                                        <label for="bankName" class="form-label">Banco</label>
                                        <input type="text" formControlName="bankName" class="form-control"
                                            name="bankName" id="bankName">
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- numero de referencia -->
                                    <div class="mb-3 col-xs-12 col-sm-6">
                                        <label for="referencia" class="form-label">Num. referencia</label>
                                        <input type="text" formControlName="referencia" class="form-control"
                                            name="referencia" id="referencia">
                                    </div>

                                    <!-- monto -->
                                    <div class="mb-3 col-xs-12 col-sm-6">
                                        <label for="amount" class="form-label">Monto</label>
                                        <!-- {{totalAmount |number:'1.2-2'| currency:tienda_moneda}} -->
                                        <input type="number" formControlName="amount" class="form-control" name="amount"
                                            id="amount">
                                    </div>
                                </div>
                                <!-- botones -->
                                <div class="d-flex justify-content-center gap-2">


                                    <button class="check-button " type="submit">
                                        <i class="fa fa-money-check"></i>
                                        Procesar pago
                                    </button>
                                </div>


                            </div>

                        </form>
                    </div>
                    <!-- formularios Efectivo -->
                    <div *ngIf="habilitacionFormEfectivo" class="mt-1 mb-1 ">
                        <form [formGroup]="formEfectivo" (ngSubmit)="sendFormEfectivo()">
                            <div class="card mb-3">
                                <div class="card-body alert-warning ">
                                    <p>Ingrese el Monto exacto, ya que nuestro delivery no lleva efectivo</p>
                                </div>
                            </div>


                            <!-- monto -->
                            <div class="mb-3">
                                <label for="amount" class="form-label">Monto</label>
                                <!-- {{totalAmount |number:'1.2-2'| currency:tienda_moneda}} -->
                                <!-- <input type="number" formControlName="amount" class="form-control" name="amount" id="amount"> -->
                            </div>

                            <!-- fecha de pago -->
                            <div class="mb-3">
                                <label for="paymentday" class="form-label">Fecha de Pago</label>
                                <input type="date" formControlName="paymentday" class="form-control" name="paymentday"
                                    id="paymentday">
                            </div>

                            <!-- botones -->
                            <div class="d-flex justify-content-center gap-2">
                                <button type="submit" class="btn btn-primary">
                                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1"></span>
                                    Generar Pago
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-secondary" (click)="onClose()"
                    data-bs-dismiss="modal">Cancelar</button>
                <!-- [disabled]="facturaForm.invalid || isLoading" -->

            </div>

        </div>
    </div>
</div>