<ng-template #loading>
    <div id="contenedor_carga">
        <div id="carga"></div>
    </div>
</ng-template>

<div *ngIf="user.role === 'SUPERADMIN_ROLE'|| user.role === 'ADMIN_ROLE' ">
    <div class="acces-icons animated fadeIn container">
        
        
        <a class="nav-link collapsed cursor" routerLink="/dashboard/payments">
            <div class="icontext shadow">
               <i class="fas fa-chart-pie"></i>
                <h3>Pagos</h3>
            </div>
        </a>
       
        <a class="nav-link collapsed cursor" routerLink="/dashboard/facturacion">

            <div class="icontext shadow">
                <i class="fas fa-chart-line"></i>
                <h3>Facturación</h3>
            </div>
        </a>
        <a class="nav-link collapsed cursor"  routerLink="/dashboard/users">

            <div class="icontext shadow">
                <i class="fas fa-users"></i>
                <h3>Usuarios</h3>
            </div>
        </a>
        
        <a class="nav-link collapsed cursor"  routerLink="/dashboard/configuraciones">

            <div class="icontext shadow">
                <i class="fas fa-cogs"> </i>
                <h3>Configuraciones</h3>
            </div>
        </a>

    </div>
</div>
