<!-- =======| Main |======= -->
<div class="container " id="main" class="main" role="main ">
    <div class="col-xs-12 ">
        <!-- Page Title -->
        <div class="pagetitle animated fadeIn">
            <div class="left">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <!-- <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li> -->
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <app-tasadiabcv></app-tasadiabcv>
            <div class="right shadow animated fadeIn">
                <p>Bienvenido: {{user.username}}!</p>

                <span class="badge bg-dark" *ngIf="user.role === 'SUPERADMIN_ROLE'">SuperAdmin</span>
                <span class="badge bg-primary" *ngIf="user.role === 'ADMIN_ROLE'">Admin</span>
                <p>Ten un Excelente y Productivo día!</p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row mt-3">
            <div class="d-flex justify-content-end gap-3">
                <div class="btn btn-primary" data-toggle="tooltip" title="Enviar Notificaciones"
                    (click)="openNotificacionesModal()" href="javascript:void(0)" data-bs-toggle="modal"
                    data-bs-target="#editNotificaciones">
                    <i class="fas fa-bullhorn"></i>
                </div>
                <button class="btn btn-outline-primary btn-sm rounded-circle shadow-sm"
                    (click)="instruccionesModal.open()" title="Ayuda de la sección">
                    <i class="fas fa-question"></i>
                </button>
            </div>
        </div>
        <div class="clear"></div>
        <br>
        <!-- acceso iconos -->
        <app-menuiconos></app-menuiconos>
        <!-- acceso iconos -->
        <!-- <app-project-list [displaycomponent]="displaycomponent" [limit]="limit"></app-project-list> -->
        <app-payments [displaycomponent]="displaycomponent" [limit]="limit"></app-payments>
        <!-- End Page Title -->


    </div>



</div>
<!--/main-->
<app-modal-inicial sectionId="dashadmin" #instruccionesModal></app-modal-inicial>
<app-modal-notificaciones [notificacionSeleccionado]="notificacionSeleccionado"
    (closeModal)="onCloseModal()"></app-modal-notificaciones>
<app-pwa-notif-installer></app-pwa-notif-installer>