<div class="modal fade" id="viewPago" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">{{ title }} - {{pagoSeleccionado?.referencia}}</h5>
                <button type="button" class="btn-close" (click)="onClose()" data-bs-dismiss="modal"></button>
            </div>
            <app-loading *ngIf="isLoading"></app-loading>
            <div class="modal-body" *ngIf="!isLoading">
                <div class="row mb-3">
                    <div class="col-xs-12 col-sm-8">
                        <div class="row">
                            <div class="col-md-4">
                            <strong>Cliente:</strong> {{ pagoSeleccionado?.cliente?.username }}
                        </div>

                        <div class="col-md-4">
                            <strong>Método de Pago:</strong> {{ pagoSeleccionado?.metodo_pago }}
                        </div>
                        <div class="col-md-4">
                            <strong>Banco Destino:</strong> {{ pagoSeleccionado?.bank_destino }}
                        </div>
                        <div class="col-md-4">
                            <strong>Fecha Pago:</strong> {{ pagoSeleccionado?.fecha_pago| date:'MMM d, y, h:mm:ss a'}}
                        </div>
                        <div class="col-md-4">
                            <strong>Tasa BCV:</strong> {{ pagoSeleccionado?.tasaBCV |currency:'Bs.' }}
                        </div>
                        <div class="col-md-4">
                            <strong>Estado:</strong> &nbsp;
                            <span class="badge bg-success" *ngIf="pagoSeleccionado?.status === 'APROBADO'">Aprobado</span>
                            <span class="badge bg-warning" *ngIf="pagoSeleccionado?.status === 'PENDIENTE'">Pendiente</span>
                            <span class="badge bg-danger" *ngIf="pagoSeleccionado?.status === 'RECHAZADO'">Rechazado</span>
                        </div>
                        <div class="col-md-4" *ngIf="pagoSeleccionado?.status === 'RECHAZADO'">
                            <strong>Observaciones:</strong> {{ pagoSeleccionado?.observaciones }}
                        </div>
                        </div>
                        
                    </div>
<div class="col-xs-12 col-sm-4" *ngIf="pagoSeleccionado">
                       <img [src]="(pagoSeleccionado.img || '')| imagenPipe: 'payments'" class="img-fluid rounded-3 shadow-sm border w-100"
        style="max-height: 200px; object-fit: cover;">
                    </div>
                </div>
                <hr>



                <!-- detalle factura -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <strong>Nro. Factura:</strong> {{ pagoSeleccionado?.factura?.nroFactura }}
                    </div>
                    <div class="col-md-4">
                        <strong>¿Aplica Retención?:</strong> &nbsp;
                        <span class="badge bg-success" *ngIf="pagoSeleccionado?.factura?.aplicaRetencion === true">Si</span>
                        <span class="badge bg-danger" *ngIf="pagoSeleccionado?.factura?.aplicaRetencion === false">No</span>
                    </div>
                    <div class="col-md-4">
                        <strong>Retención:</strong> {{ pagoSeleccionado?.factura?.montoRetencion |currency:'Bs.' }}
                    </div>
                    <div class="col-md-4">
                        <strong>Otros Cargos:</strong> {{ pagoSeleccionado?.factura?.otrosCargos |currency:'Bs.'}}
                    </div>
                    <div class="col-md-4">
                        <strong>Tasa BCV:</strong> {{ pagoSeleccionado?.factura?.tasaBCV |currency:'Bs.' }}
                    </div>
                    <div class="col-md-4">
                        <strong>Estado:</strong> &nbsp;
                        <span class="badge bg-success" *ngIf="pagoSeleccionado?.factura?.estado === 'PAGADO'">Pagado</span>
                        <span class="badge bg-warning"
                            *ngIf="pagoSeleccionado?.factura?.estado === 'PENDIENTE'">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="pagoSeleccionado?.factura?.estado === 'RECHAZADO'">Rechazado</span>
                    </div>
                    <div class="col-md-4" *ngIf="pagoSeleccionado?.estado === 'RECHAZADO'">
                        <strong>Observaciones:</strong> {{ pagoSeleccionado?.observaciones }}
                    </div>
                    <div class="col-md-4">
                        <strong>mes:</strong> {{ pagoSeleccionado?.factura?.mes }}
                    </div>
                    <div class="col-md-4">
                        <strong>anio:</strong> {{ pagoSeleccionado?.factura?.anio }}
                    </div>
                </div>


                <!-- detalles pago-->
                <div class="col-12">
                    <table class="table table-bordered table-responsive w-100">
                    <thead class="table-light ">
                        <tr>
                            <th>Descripción</th>
                            <th>Origen</th>
                            <th>Monto Base</th>
                            <th>% IVA</th>
                            <th>Monto IVA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detalle of pagoSeleccionado?.factura.detalles">
                            <td>{{ detalle.descripcion}}</td>
                            <td>{{ detalle.origen }}</td>
                            <td>{{ detalle.montoBase |currency:'Bs.' }}</td>
                            <td>{{ detalle.ivaPorcentaje }}</td>
                            <td>{{ detalle.montoIva |currency:'Bs.' }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="text-end mt-3">
                    <h5>Total: {{ pagoSeleccionado?.amount |currency:'Bs.' }}</h5>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary" (click)="onClose()"
                        data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>