<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <div class="col-xs-12">
        <app-backButtn [displaycomponent]="displaycomponent" [title]="title"></app-backButtn>
        <div class="clear"></div>
        <app-loading *ngIf="isLoading"></app-loading>

        <section class="section profile">
            <div class="row">
                <div class="col-xl-3" *ngIf="!isLoading">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                            <div *ngIf="profile">
                                <img [src]="(profile.img ?? '') | imagenPipe: 'profiles'" class="rounded-circle">
                            </div>

                            <h3>{{user.username}}</h3>
                            <p>{{user.email}}</p>
                            <p>{{user.numdoc}}</p>
                            <h3>
                                <span class="badge bg-dark" *ngIf="user.role === 'SUPERADMIN_ROLE'">SuperAdmin</span>
                                <span class="badge bg-primary" *ngIf="user.role === 'ADMIN_ROLE'">Admin</span>
                                <span class="badge bg-secondary" *ngIf="user.role === 'USER_ROLE'">Cliente</span>
                            </h3>

                            <a routerLink="/dashboard/rolesconf">
                                <button class="btn btn-outline-primary btn-sm">Modificar Rol</button>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-xl-9" *ngIf="!isLoading">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#detalle">Detalles</button>
                                </li>
                                <!-- <li class="nav-item">
                                    <button class="nav-link " data-bs-toggle="tab" data-bs-target="#historial">Historial
                                        Compras</button>
                                </li> -->




                            </ul>
                            <div class="tab-content pt-2">
                                <div class="tab-pane fade show active detail  pt-3" id="detalle">


                                    <div *ngIf="!profile">
                                        <p>Complete su perfil</p>
                                    </div>
                                    <div class="col-xs-12">
                                        <div *ngIf="profile">
                                            <!-- informacion del perfil -->
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-4 b-r">
                                                    <div class="col-12  label"><i class="bi bi-person-circle"></i>
                                                        Nombre</div>
                                                    <div class="col-12  info">{{profile.first_name}}</div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 b-r">
                                                    <div class="col-12  label"><i class="bi bi-person-circle"></i>
                                                        Apellido</div>
                                                    <div class="col-12  info">{{profile.last_name}}</div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label">
                                                        <i class="bi bi-telephone"></i> Móvil
                                                    </div>

                                                    <div class="col-12  info">
                                                        <a href="tel:{{profile.telmovil}}" target="_blank">
                                                            {{profile.telmovil}}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r" *ngIf="profile.telhome">
                                                    <div class="col-12  label">
                                                        <i class="bi bi-telephone"></i> Oficina | Casa
                                                    </div>
                                                    <div class="col-12  info">
                                                        <a href="tel:{{profile.telhome}}" target="_blank">
                                                            {{profile.telhome}}
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <hr>
                                            <!-- Estatus Financiero -->
                                            <div class="row">

                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r">
                                                    <div class="col-12  label">
                                                        <i class="bi bi-telephone"></i> Estatus Financiero
                                                    </div>
                                                    <div class="col-12  info">
                                                        <span class="badge bg-success"
                                                            *ngIf="profile.statusFinanciero === 'AL_DIA'">Al día</span>
                                                        <span class="badge bg-danger"
                                                            *ngIf="profile.statusFinanciero === 'MOROSO'">Moroso</span>
                                                        <span class="badge bg-warning"
                                                            *ngIf="profile.statusFinanciero === 'EN_REVISION'">En
                                                            Revisión</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 b-r"
                                                    *ngIf="profile.deudaTotalAcumulada > 0">
                                                    <div class="col-12  label">
                                                        <i class="bi bi-telephone"></i> Deuda Total Acumulada
                                                    </div>
                                                    <div class="col-12  info">
                                                        {{profile.deudaTotalAcumulada |
                                                        currency:'Bs.':'symbol':'1.2-2'}}
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <!-- informacion de propiedades -->
                                            <!-- Residencia -->
                                            <div class="row" *ngIf="profile.haveResidencia === true ">
                                                <div class="col-xs-12 ">
                                                    <div class="col-12  label"><i class="bi bi-file-text"></i>
                                                        Residencia(s)
                                                    </div>
                                                    <div class="col-12 ">
                                                        <table class="table table-borderless datatable">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Edificio</th>
                                                                    <th scope="col">Letra</th>
                                                                    <th scope="col">Piso</th>
                                                                    <th scope="col">Monto M</th>
                                                                    <th scope="col">Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let res of residencia">
                                                                    <th scope="row">{{res.edificio}}</th>
                                                                    <td>{{res.letra}}</td>
                                                                    <td>{{res.piso}}</td>
                                                                    <td>{{res.montoMensual |
                                                                        currency:'Bs.':'symbol':'1.2-2'}}</td>
                                                                    <td>
                                                                        <div class="btn btn-outline-primary btn-sm"
                                                                            (click)="openEditModal(res, 'residencia')"
                                                                            href="javascript:void(0)"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#editFactura">
                                                                           Facturar
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr *ngIf="profile.haveResidencia === true ">
                                            <!-- Oficina -->
                                            <div class="row" *ngIf="profile.haveOficina === true ">
                                                <div class="col-xs-12">
                                                    <div class="col-12  label"><i class="bi bi-file-text"></i>
                                                        Oficina(s)
                                                    </div>
                                                    <div class="col-12 ">
                                                        <table class="table table-borderless datatable">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Edificio</th>
                                                                    <th scope="col">Letra</th>
                                                                    <th scope="col">Piso</th>
                                                                    <th scope="col">Monto M</th>
                                                                    <th scope="col">Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let res of oficina">
                                                                    <th scope="row">{{res.edificio}}</th>
                                                                    <td>{{res.letra}}</td>
                                                                    <td>{{res.piso}}</td>
                                                                    <td>{{res.montoMensual |
                                                                        currency:'Bs.':'symbol':'1.2-2'}}</td>
                                                                    <td>
                                                                        <div class="btn btn-outline-primary btn-sm"
                                                                            (click)="openEditModal(res, 'oficina')"
                                                                            href="javascript:void(0)"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#editFactura">
                                                                           Facturar
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr *ngIf="profile.haveOficina === true ">
                                            <!-- Local -->
                                            <div class="row" *ngIf="profile.haveLocal === true ">
                                                <div class="col-xs-12  ">
                                                    <div class="col-12  label"><i class="bi bi-file-text"></i>
                                                        Local(s)
                                                    </div>
                                                    <div class="col-12 ">
                                                        <table class="table table-borderless datatable">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Edificio</th>
                                                                    <th scope="col">Letra</th>
                                                                    <th scope="col">Piso</th>
                                                                    <th scope="col">Monto M</th>
                                                                    <th scope="col">Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let res of local">
                                                                    <th scope="row">{{res.edificio}}</th>
                                                                    <td>{{res.letra}}</td>
                                                                    <td>{{res.piso}}</td>
                                                                    <td>{{res.montoMensual |
                                                                        currency:'Bs.':'symbol':'1.2-2'}}</td>
                                                                    <td>
                                                                        <div class="btn btn-outline-primary btn-sm"
                                                                            (click)="openEditModal(res, 'local')"
                                                                            href="javascript:void(0)"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#editFactura">
                                                                           Facturar
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr *ngIf="profile.haveLocal === true ">
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</div>
<!--/main-->
<app-modal-info-factura [paymentSeleccionado]="paymentSeleccionado" (closeModal)="onCloseModal()"></app-modal-info-factura>
