<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <app-backButtn [displaycomponent]="displaycomponent" [title]="title"></app-backButtn>
        <div class="clear"></div>

        <div class="clear"></div>
        <section class="section configuraciones">


            <!-- Recent Pagos -->
            <div class="container">

                <div class="row">


                    <div class="col-xs-12 col-sm-6  col-md-4">
                        <div class="card">
                            <div class="card-body ">
                                <i class="fa fa-user"> </i>
                                <h2> Roles</h2>
                                <a routerLink="/dashboard/rolesconf">
                                    <button class="btn btn-outline-success btn-block">Ver todos</button>
                                </a>
                                <!-- <ul>
                                <li *ngFor="let rol of roles">{{rol.name}}</li>
                            </ul> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6  col-md-4">
                        <div class="card">
                            <div class="card-body ">
                                <i class="fa fa-user"> </i>
                                <h2> Metodos de pago</h2>
                                <a routerLink="/dashboard/metodos_de_pago">
                                    <button class="btn btn-outline-success btn-block">Ver todos</button>
                                </a>
                                <!-- <ul>
                                <li *ngFor="let rol of roles">{{rol.name}}</li>
                            </ul> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6  col-md-4">
                        <div class="card">
                            <div class="card-body ">
                                <i class="fa fa-user"> </i>
                                <h2> Tasa BCV</h2>
                                <a routerLink="/dashboard/tasaBCV">
                                    <button class="btn btn-outline-success btn-block">Ver todos</button>
                                </a>
                                <!-- <ul>
                                <li *ngFor="let rol of roles">{{rol.name}}</li>
                            </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Recent Pagos -->

        </section>
    </div>

</div>
<!--/main-->
<app-modalinfo-tipos-pago [info]="info"></app-modalinfo-tipos-pago>