<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">
    <app-backButtn [displaycomponent]="displaycomponent" [title]="title"></app-backButtn>
    <div class="clear"></div>
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row animated fadeInUp" *ngIf="!isLoading">


        <section class="section dashboard">
            <div class="row mb-5">
                <div class="col-xs-12 col-sm-8">
                    <!-- <app-bar-chart [payments]="payments"></app-bar-chart> -->
                    <!-- <app-line-chart  ></app-line-chart> -->
                </div>
                <div class="col-xs-12 col-sm-4">
                    <!-- <app-pie-chart2 [payments]="payments"></app-pie-chart2> -->

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- buscador -->
                    <form class="form-horizontal ">
                        <div
                            class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 d-flex justify-content-center gap-3">
                            <div class="input-group busc">
                                <input type="search" name="search" type="text" class="form-control inputb "
                                    placeholder="Buscar Factura" aria-describedby="button-addon1" [(ngModel)]="query"
                                    class="form-control border-0 bg-light" />

                                <select class="form-control form-select-solid fw-bolder" name="status"
                                    [(ngModel)]="status" (change)="search()" placeholder="status">
                                    <option value="">Seleccione</option>
                                    <option value="APPROVED">Aprobado</option>
                                    <option value="PENDING">Pendiente</option>
                                    <option value="REJECTED">Rechazado</option>
                                </select>

                                <div class="input-group-append ">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"
                                        (click)="search()" name="submit" data-toggle="tooltip" title="mostrar todos">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <a href="javascript:;" (click)="PageSize()"
                                        class="btn btn-primary doctor-refresh ms-2 "><i class="fa fa-refresh"></i></a>
                                </div>


                            </div>

                        </div>
                    </form>
                    <!-- buscador -->
                </div>
            </div>
            <div class="card recent-sales overflow-auto border-radio">
                <div class="card-body">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">Imagen</th>
                                <th scope="col">usuario</th>
                                <th scope="col">Referencia</th>
                                <th scope="col">Factura</th>
                                <th scope="col">Banco Destino</th>
                                <th scope="col">Metodo</th>
                                <th scope="col">Monto </th>
                                <th scope="col">Status</th>
                                <th scope="col">Dia del Pago</th>
                                <th scope="col">Creado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transferecia of transferecias |  paginate: { itemsPerPage: count, currentPage: p }">
                                <td>
                                    <img [src]="(transferecia?.img || '')| imagenPipe: 'transferencias' " class="imagecircle shadow"
                                        alt="">
                                </td>
                                <th><a [routerLink]="['/dashboard/user/detail/', transferecia.user]">{{transferecia.user | slice:0:15}}...</a>
                                </th>
                                <th scope="row">
                                    <a [routerLink]="['/dashboard/payment-detail', transferecia._id]">{{transferecia.referencia}}</a>
                                </th>
                                <th><a [routerLink]="['/dashboard/padre/detail/', transferecia.factura]">{{transferecia.factura | slice:0:15}}...</a>
                                </th>
                                
                                <td>{{transferecia.bankName}}</td>
                                <td>{{transferecia.metodo_pago}}</td>
                                <td>
                                    {{transferecia.amount|currency:'Bs.'}}
                                </td>
                                <td>
                                    <span class="badge bg-success" *ngIf="transferecia.status === 'APPROVED'">Aprobado</span>
                                    <span class="badge bg-primary" *ngIf="transferecia.status === 'PENDING'">Pendiente</span>
                                    <span class="badge bg-danger" *ngIf="transferecia.status === 'REJECTED'">Rechazado</span>
                                </td>
                                <td>{{transferecia.paymentday | date:'MMM d, y, h:mm:ss a'}}</td>
                                <td>{{transferecia.createdAt | date:'MMM d, y, h:mm:ss a'}}</td>

                                <td>
                                    <select class="form-control form-select-solid fw-bolder" name="status"
                                        [(ngModel)]="transferecia.status" (change)="cambiarStatus(transferecia)" placeholder="status">
                                        <option value="">Seleccione</option>
                                        <option value="APPROVED">Aprobado</option>
                                        <option value="PENDING">Pendiente</option>
                                        <option value="REJECTED">Rechazado</option>
                                    </select>

                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- End #main-->

 <app-modalinfo-tipos-pago [info]="info"></app-modalinfo-tipos-pago>