<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">
    <app-backButtn [displaycomponent]="displaycomponent" [title]="title"></app-backButtn>
    <div class="clear"></div>
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row animated fadeInUp" *ngIf="!isLoading">


        <section class="section dashboard">

            <div class="tab-content-set">
                <ul class="nav">
                    <li>
                        <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 1}"
                            (click)="optionSelected(1)">
                            <h3 class="btn btn-outline-info"> {{'Pagos'}}</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 2}"
                            (click)="optionSelected(2)">
                            <h3 class="btn btn-outline-info">{{'Gráficos'}}</h3>
                        </a>
                    </li>


                </ul>
            </div>
            <div *ngIf="option_selectedd == 1">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 ">
                        <!-- buscador -->
                        <form class="form-horizontal ">
                            <div
                                class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 d-flex justify-content-center gap-3">
                                <div class="input-group busc">
                                    <input type="search" name="search" type="text" class="form-control inputb "
                                        placeholder="Buscar Pago" aria-describedby="button-addon1" [(ngModel)]="query"
                                        class="form-control border-0 bg-light" />

                                    <select class="form-control form-select-solid fw-bolder" name="status"
                                        [(ngModel)]="status" (change)="search()" placeholder="status">
                                        <option value="">Seleccione</option>
                                        <option value="APROBADO">Aprobado</option>
                                        <option value="PENDIENTE">Pendiente</option>
                                        <option value="RECHAZADO">Rechazado</option>
                                    </select>

                                    <div class="input-group-append ">
                                        <button id="button-addon1" type="submit" class="btn btn-link text-primary "
                                            (click)="search()" name="submit" data-toggle="tooltip"
                                            title="mostrar todos">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        <a href="javascript:;" (click)="PageSize()"
                                            class="btn btn-primary ms-2 " style="border-radius: 100px;"><i
                                                class="fas fa-refresh"></i></a>
                                    </div>


                                </div>

                            </div>
                        </form>
                        <!-- buscador -->
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#crearPago"
                            (click)="abrirModalPago()"> Generar Pago
                        </button>
                    </div>
                </div>
                <div class="card recent-sales overflow-auto border-radio">
                    <div class="card-body">
                        <pagination-controls (pageChange)="p = $event"
                            [style.display]="displaycomponent"></pagination-controls>
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Referencia</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Banco Destino</th>
                                    <th scope="col">Metodo</th>
                                    <th scope="col">Monto </th>
                                    <th scope="col">tasaBCV </th>
                                    <th scope="col">Fecha Pago </th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Creado</th>
                                    <th scope="col">Actualizado</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pago of payments |  paginate: { itemsPerPage: count, currentPage: p }">

                                    <th scope="row">
                                        <a (click)="openViewModal(pago)" href="javascript:void(0)"
                                            data-bs-toggle="modal" data-bs-target="#viewPago">{{pago.referencia}}</a>
                                    </th>
                                    <th>{{pago.cliente?.username}}</th>
                                    <td>{{pago.bank_destino}}</td>
                                    <td>{{pago.metodo_pago}}</td>
                                    <td>{{pago.amount|currency:'Bs.'}} </td>
                                    <td>{{pago.tasaBCV|currency:'Bs.'}}</td>
                                    <td>{{pago.fecha_pago | date:'MMM d, y'}}</td>
                                    <td>
                                        <span class="badge bg-success"
                                            *ngIf="pago.status === 'APROBADO'">Aprobado</span>
                                        <span class="badge bg-warning"
                                            *ngIf="pago.status === 'PENDIENTE'">Pendiente</span>
                                        <span class="badge bg-danger"
                                            *ngIf="pago.status === 'RECHAZADO'">Rechazado</span>
                                    </td>

                                    <td>{{pago.createdAt | date:'MMM d, y'}}</td>
                                    <td>{{pago.updatedAt | date:'MMM d, y'}}</td>

                                    <td>
                                        <select class="form-select fw-bolder" [(ngModel)]="pago.status"
                                            (change)="cambiarStatus(pago)" [ngClass]="{
                                                'border-success text-success': pago.status === 'APROBADO',
                                                'border-warning text-warning': pago.status === 'PENDIENTE',
                                                'border-danger text-danger': pago.status === 'RECHAZADO'
                                            }">
                                            <option value="APROBADO">Aprobado</option>
                                            <option value="PENDIENTE">Pendiente</option>
                                            <option value="RECHAZADO">Rechazado</option>
                                        </select>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"
                            [style.display]="displaycomponent"></pagination-controls>
                    </div>

                </div>
            </div>
            <div *ngIf="option_selectedd == 2">
                <div class="row mb-5">
                    <div class="col-xs-12 col-sm-8">
                        <app-bar-chart></app-bar-chart>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <app-pie-chart2 [stats]="stats"></app-pie-chart2>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<!-- End #main-->

<app-modal-pago-detalle [pagoSeleccionado]="pagoSeleccionado" (closeModal)="onCloseModal()"></app-modal-pago-detalle>

<app-modalinfo-tipos-pago [info]="info" [style.display]="displaycomponent"></app-modalinfo-tipos-pago>
<app-reportar-pago (closeModal)="onCloseModal($event)"></app-reportar-pago>