<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> <small>© {{year}} | Admin Condominio Parque Central App. | Desarrollado por: <a href="https://malcolmcordova.com" target="_blank">Malcolm Córdova Develop & Design</a></small> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->